*{
    margin: 10px;
    background-color: rgb(68, 68, 178);
}
#banner{
    text-align: center;
    font-family: Brush Script MT,cursive;
    font-size: 9rem;
    color: rgb(233, 233, 0);
}
.card1{
    position: relative;
    display: flex;
    justify-content: center; 
      
}
.foot1{
    position: relative;
    top: 45px;
    text-align: end;
    font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    color: rgb(255, 255, 255);
}
.head{
    text-align: left;
    font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    color: rgb(255, 255, 255);
    font-size: large;
}